/Soma/nbproject/private/
/Soma/build/
/AreaDoCirculo/nbproject/private/
/AreaDoCirculo/build/
/Diferenca/nbproject/private/
/Diferenca/build/
/Atividade 2/Exercicio 4/Salario/nbproject/private/
/Atividade 2/Exercicio 4/Salario/build/
/Atividade 2/Exercicio 5/ValorAPagar/nbproject/private/
/Atividade 2/Exercicio 5/ValorAPagar/build/
/Atividade 2/Exercicio 6/Area/nbproject/private/
/Atividade 2/Exercicio 6/Area/build/
/Aula Operador Ternario/Exercicio/nbproject/private/
/Aula Operador Ternario/Exercicio/build/
/Aula Operador Ternario/Desafio/nbproject/private/
/Aula Operador Ternario/Desafio/build/
/Atividade 3/Exercicio 1/OperadorMult/nbproject/private/
/Atividade 3/Exercicio 1/OperadorMult/build/
/Atividade 3/Exercicio 2/OperadorDiv/nbproject/private/
/Atividade 3/Exercicio 2/OperadorDiv/build/
/Atividade 3/Exercicio 3/OperadorDiv2/nbproject/private/
/Atividade 3/Exercicio 3/OperadorDiv2/build/
/Atividade 3/Exercicio 4/OperadorMod/nbproject/private/
/Atividade 3/Exercicio 4/OperadorMod/build/
/Atividade 3/Exercicio 5/Triangulo/nbproject/private/
/Atividade 3/Exercicio 5/Triangulo/build/
/Atividade 3/Exercicio 6/MaiorMenor10/nbproject/private/
/Atividade 3/Exercicio 6/MaiorMenor10/build/
/Atividade 3/Exercicio 7/SomaOuSub/nbproject/private/
/Atividade 3/Exercicio 7/SomaOuSub/build/
/Aula Estruturas Condicionais/Atividade 1/DinheiroSobrando/nbproject/private/
/Aula Estruturas Condicionais/Atividade 1/DinheiroSobrando/build/
/Aula Estruturas Condicionais/Atividade 2/AreaCirculo/nbproject/private/
/Aula Estruturas Condicionais/Atividade 2/AreaCirculo/build/
/Aula Estruturas Condicionais/Atividade 3/Categorias/nbproject/private/
/Aula Estruturas Condicionais/Atividade 3/Categorias/build/
/Aula Estruturas Condicionais/Atividade 4/Quadrante/nbproject/private/
/Aula Estruturas Condicionais/Atividade 4/Quadrante/build/
/Slides 1/HoraDoSistema/build/
/Slides 1/HoraDoSistema/nbproject/private/
/Slides 4/Atividade 1/ParImpar/nbproject/private/
/Slides 4/Atividade 1/ParImpar/build/
/Slides 4/Atividade 2/ParImparNegativo/nbproject/private/
/Slides 4/Atividade 2/ParImparNegativo/build/
/Slides 4/Atividade 3/Financiamento/nbproject/private/
/Slides 4/Atividade 3/Financiamento/build/
/Slides 4/Atividade 4/MediaAluno/nbproject/private/
/Slides 4/Atividade 4/MediaAluno/build/
/Slides 4/Atividade 5/AumentoSalario/nbproject/private/
/Slides 4/Atividade 5/AumentoSalario/build/
/Slides 4/Atividade 6/ProgramaSolidario/nbproject/private/
/Slides 4/Atividade 6/ProgramaSolidario/build/
/Slides 4/Atividade 7/Calculadora/nbproject/private/
/Slides 4/Atividade 7/Calculadora/build/
/Slides 4/Atividade 8/IMC/nbproject/private/
/Slides 4/Atividade 8/IMC/build/
/Slides 4/Atividade 9/Multiplos/nbproject/private/
/Slides 4/Atividade 9/Multiplos/build/
/Slides 4/Atividade 10/TempoJogo/nbproject/private/
/Slides 4/Atividade 10/TempoJogo/build/
/Slides 4/Atividade 11/Intervalo/nbproject/private/
/Slides 4/Atividade 11/Intervalo/build/
/Slides 4/Atividade 12/Valores/nbproject/private/
/Slides 4/Atividade 12/Valores/build/
/Slides 4/Atividade 13/ImpostoDeRenda/nbproject/private/
/Slides 4/Atividade 13/ImpostoDeRenda/build/
/Slides 4/Desafio/Produtos/nbproject/private/
/Slides 4/Desafio/Produtos/build/
/Aula Estruturas de Repetição/Atividade 1/While/nbproject/private/
/Aula Estruturas de Repetição/Atividade 1/While/build/
/Aula Estruturas de Repetição/Atividade 2/For/nbproject/private/
/Aula Estruturas de Repetição/Atividade 2/For/build/
/Aula Estruturas de Repetição/Atividade 3/Fatorial/nbproject/private/
/Aula Estruturas de Repetição/Atividade 3/Fatorial/build/
/Aula Estruturas de Repetição/Atividade 4/ConjuntoDeDados/nbproject/private/
/Aula Estruturas de Repetição/Atividade 4/ConjuntoDeDados/build/
/Slides 5/Atividade 1/NumeroPrimo/nbproject/private/
/Slides 5/Atividade 1/NumeroPrimo/build/
/Slides 5/Atividade 2/Senha/nbproject/private/
/Slides 5/Atividade 2/Senha/build/
/Slides 5/Atividade 3/Divisores/nbproject/private/
/Slides 5/Atividade 3/Divisores/build/
/Slides 5/Atividade 4/Quadrantes/nbproject/private/
/Slides 5/Atividade 4/Quadrantes/build/
/Slides 5/Atividade 5/Produtos/nbproject/private/
/Slides 5/Atividade 5/Produtos/build/
/Slides 5/Atividade 6/QuadradoCubo/nbproject/private/
/Slides 5/Atividade 6/QuadradoCubo/build/
/Slides 5/Atividade 7/Salario/nbproject/private/
/Slides 5/Atividade 7/Salario/build/
/Slides 5/Atividade 8/MediaTurma/nbproject/private/
/Slides 5/Atividade 8/MediaTurma/build/
/Slides 5/Atividade 9/Radioativo/nbproject/private/
/Slides 5/Atividade 9/Radioativo/build/
/Slides 5/Desafio/Eleicao/nbproject/private/
/Slides 5/Desafio/Eleicao/build/
/Aula Vetores e Matrizes/SomaVetor/nbproject/private/
/Aula Vetores e Matrizes/Atividade 1/SomaVetor/nbproject/private/
/Aula Vetores e Matrizes/Atividade 1/SomaVetor/build/
/Aula Vetores e Matrizes/Atividade 2/SomaMultMatriz/nbproject/private/
/Aula Vetores e Matrizes/Atividade 2/SomaMultMatriz/build/
/Aula Vetores e Matrizes/Atividade 3/Funcoes/nbproject/private/
/Aula Vetores e Matrizes/Atividade 3/Funcoes/build/
/Slides 6/Atividade 1/MediaTurma/nbproject/private/
/Slides 6/Atividade 1/MediaTurma/build/
/Slides 6/Atividade 2/Campeonato/nbproject/private/
/Slides 6/Atividade 2/Campeonato/build/
/Slides 6/Atividade 3/ParImpar/nbproject/private/
/Slides 6/Atividade 3/ParImpar/build/
/Slides 6/Atividade 4/Matriz/nbproject/private/
/Slides 6/Atividade 4/Matriz/build/
/Slides 6/Atividade 5/MatrizNegativos/nbproject/private/
/Slides 6/Atividade 5/MatrizNegativos/build/
/Slides 6/Atividade 6/VetorOrdenado/nbproject/private/
/Slides 6/Atividade 6/VetorOrdenado/build/
/Slides 6/Atividade 7/Adivinhe/nbproject/private/
/Slides 6/Atividade 7/Adivinhe/build/
/Slides 6/Atividade 8/MegaSena/nbproject/private/
/Slides 6/Atividade 8/MegaSena/build/
/Slides 7/Atividade 1/Triangulos/nbproject/private/
/Slides 7/Atividade 1/Triangulos/build/
/Slides 7/Atividade 2/Dolar/nbproject/private/
/Slides 7/Atividade 2/Dolar/build/
/Slides 7/Atividade 3/Salario/nbproject/private/
/Slides 7/Atividade 3/Empresa/nbproject/private/
/Slides 7/Atividade 3/Empresa/build/
/Slides 7/Atividade 4/Radioativo/nbproject/private/
/Slides 7/Atividade 4/Radioativo/build/
/Slides 7/Atividade 5/AtividadeRetangulo/nbproject/private/
/Slides 7/Atividade 5/AtividadeRetangulo/build/
/Slides 7/Atividade 6/Atividade 6/nbproject/private/
/Slides 7/Atividade 6/Atividade 6/build/
/Slides 7/Atividade 7/Notas/nbproject/private/
/Slides 7/Atividade 7/Notas/build/
/Slides 8/Atividade 1/Atividade1/nbproject/private/
/Slides 8/Atividade 1/Atividade1/build/
/Slides 8/Atividade 2/Atividade2/nbproject/private/
/Slides 8/Atividade 2/Atividade2/build/
/Slides 8/Atividade 3/Atividade3/nbproject/private/
/Slides 8/Atividade 3/Atividade3/build/
/Slides 8/Atividade 4/Produtos/nbproject/private/
/Slides 8/Atividade 4/Atividade4/nbproject/private/
/Slides 8/Atividade 4/Atividade4/build/
/Slides 9/Atividade 1/Atividade1/nbproject/private/
/Slides 9/Atividade 1/Atividade1/build/
/Slides 9/Atividade 2/Atividade2/nbproject/private/
/Slides 9/Atividade 2/Atividade2/build/
/Slides 9/Atividade 3/Atividade3/nbproject/private/
/Slides 9/Atividade 3/Atividade3/build/
/Aula Herança/Atividade1/nbproject/private/
/Aula Herança/Atividade1/build/
/Aula Herança/Atividade2/nbproject/private/
/Aula Herança/Atividade2/build/
/Slides 01/HoraDoSistema/build/
/Slides 01/HoraDoSistema/nbproject/private/
/Slides 02/Exercicio 1/Soma/build/
/Slides 02/Exercicio 1/Soma/nbproject/private/
/Slides 02/Exercicio 2/AreaDoCirculo/build/
/Slides 02/Exercicio 2/AreaDoCirculo/nbproject/private/
/Slides 02/Exercicio 3/Diferenca/build/
/Slides 02/Exercicio 3/Diferenca/nbproject/private/
/Slides 02/Exercicio 4/Salario/build/
/Slides 02/Exercicio 4/Salario/nbproject/private/
/Slides 02/Exercicio 5/ValorAPagar/build/
/Slides 02/Exercicio 5/ValorAPagar/nbproject/private/
/Slides 02/Exercicio 6/Area/build/
/Slides 02/Exercicio 6/Area/nbproject/private/
/Slides 03/Exercicio 1/OperadorMult/build/
/Slides 03/Exercicio 1/OperadorMult/nbproject/private/
/Slides 03/Exercicio 2/OperadorDiv/build/
/Slides 03/Exercicio 2/OperadorDiv/nbproject/private/
/Slides 03/Exercicio 3/OperadorDiv2/build/
/Slides 03/Exercicio 3/OperadorDiv2/nbproject/private/
/Slides 03/Exercicio 4/OperadorMod/build/
/Slides 03/Exercicio 4/OperadorMod/nbproject/private/
/Slides 03/Exercicio 5/Triangulo/build/
/Slides 03/Exercicio 5/Triangulo/nbproject/private/
/Slides 03/Exercicio 6/MaiorMenor10/build/
/Slides 03/Exercicio 6/MaiorMenor10/nbproject/private/
/Slides 03/Exercicio 7/SomaOuSub/build/
/Slides 03/Exercicio 7/SomaOuSub/nbproject/private/
/Slides 03/Exercicio 8/Desafio/build/
/Slides 03/Exercicio 8/Desafio/nbproject/private/
/Slides 07/Atividade 1/Triangulos/build/
/Slides 07/Atividade 1/Triangulos/nbproject/private/
/Slides 07/Atividade 2/Dolar/build/
/Slides 07/Atividade 2/Dolar/nbproject/private/
/Slides 07/Atividade 3/Empresa/build/
/Slides 07/Atividade 3/Empresa/nbproject/private/
/Slides 07/Atividade 4/Radioativo/build/
/Slides 07/Atividade 4/Radioativo/nbproject/private/
/Slides 07/Atividade 5/AtividadeRetangulo/build/
/Slides 07/Atividade 5/AtividadeRetangulo/nbproject/private/
/Slides 07/Atividade 6/Atividade 6/build/
/Slides 07/Atividade 6/Atividade 6/nbproject/private/
/Slides 07/Atividade 7/Notas/build/
/Slides 07/Atividade 7/Notas/nbproject/private/
/Slides 08/Atividade 1/Atividade1/build/
/Slides 08/Atividade 1/Atividade1/nbproject/private/
/Slides 08/Atividade 2/Atividade2/build/
/Slides 08/Atividade 2/Atividade2/nbproject/private/
/Slides 08/Atividade 3/Atividade3/build/
/Slides 08/Atividade 3/Atividade3/nbproject/private/
/Slides 08/Atividade 4/Atividade4/build/
/Slides 08/Atividade 4/Atividade4/nbproject/private/
/Slides 09/Atividade 1/Atividade1/build/
/Slides 09/Atividade 1/Atividade1/nbproject/private/
/Slides 09/Atividade 2/Atividade2/build/
/Slides 09/Atividade 2/Atividade2/nbproject/private/
/Slides 09/Atividade 3/Atividade3/build/
/Slides 09/Atividade 3/Atividade3/nbproject/private/
/Slides 10/Atividade1/nbproject/private/
/Slides 10/Atividade1/build/
/Slides 10/Atividade2/nbproject/private/
/Slides 10/Atividade2/build/
/Aula Polimorfismo/Atividade1/nbproject/private/
/Aula Polimorfismo/Atividade1/build/
/Slides 11/Atividade1/nbproject/private/
/Slides 11/Atividade1/build/
/Slides 11/Atividade2/nbproject/private/
/Slides 11/Atividade2/build/
/Slides 11/Atividade3/nbproject/private/
/Slides 11/Atividade3/build/
/Slides 12/Atividade1/nbproject/private/
/Slides 12/Atividade1/build/
/Slides 12/Atividade2/nbproject/private/
/Slides 12/Atividade2/build/
/Slides 12/Atividade3/nbproject/private/
/Slides 12/Atividade3/build/
