/Soma/nbproject/private/
/Soma/build/
/AreaDoCirculo/nbproject/private/
/AreaDoCirculo/build/
/Diferenca/nbproject/private/
/Diferenca/build/
/Atividade 2/Exercicio 4/Salario/nbproject/private/
/Atividade 2/Exercicio 4/Salario/build/
/Atividade 2/Exercicio 5/ValorAPagar/nbproject/private/
/Atividade 2/Exercicio 5/ValorAPagar/build/
/Atividade 2/Exercicio 6/Area/nbproject/private/
/Atividade 2/Exercicio 6/Area/build/
