/Soma/nbproject/private/
/Soma/build/
/AreaDoCirculo/nbproject/private/
/AreaDoCirculo/build/
/Diferenca/nbproject/private/
/Diferenca/build/
/Atividade 2/Exercicio 4/Salario/nbproject/private/
/Atividade 2/Exercicio 4/Salario/build/
/Atividade 2/Exercicio 5/ValorAPagar/nbproject/private/
/Atividade 2/Exercicio 5/ValorAPagar/build/
/Atividade 2/Exercicio 6/Area/nbproject/private/
/Atividade 2/Exercicio 6/Area/build/
/Aula Operador Ternario/Exercicio/nbproject/private/
/Aula Operador Ternario/Exercicio/build/
/Aula Operador Ternario/Desafio/nbproject/private/
/Aula Operador Ternario/Desafio/build/
/Atividade 3/Exercicio 1/OperadorMult/nbproject/private/
/Atividade 3/Exercicio 1/OperadorMult/build/
/Atividade 3/Exercicio 2/OperadorDiv/nbproject/private/
/Atividade 3/Exercicio 2/OperadorDiv/build/
/Atividade 3/Exercicio 3/OperadorDiv2/nbproject/private/
/Atividade 3/Exercicio 3/OperadorDiv2/build/
/Atividade 3/Exercicio 4/OperadorMod/nbproject/private/
/Atividade 3/Exercicio 4/OperadorMod/build/
/Atividade 3/Exercicio 5/Triangulo/nbproject/private/
/Atividade 3/Exercicio 5/Triangulo/build/
/Atividade 3/Exercicio 6/MaiorMenor10/nbproject/private/
/Atividade 3/Exercicio 6/MaiorMenor10/build/
/Atividade 3/Exercicio 7/SomaOuSub/nbproject/private/
/Atividade 3/Exercicio 7/SomaOuSub/build/
/Aula Estruturas Condicionais/Atividade 1/DinheiroSobrando/nbproject/private/
/Aula Estruturas Condicionais/Atividade 1/DinheiroSobrando/build/
/Aula Estruturas Condicionais/Atividade 2/AreaCirculo/nbproject/private/
/Aula Estruturas Condicionais/Atividade 2/AreaCirculo/build/
/Aula Estruturas Condicionais/Atividade 3/Categorias/nbproject/private/
/Aula Estruturas Condicionais/Atividade 3/Categorias/build/
/Aula Estruturas Condicionais/Atividade 4/Quadrante/nbproject/private/
/Aula Estruturas Condicionais/Atividade 4/Quadrante/build/
/Slides 1/HoraDoSistema/build/
/Slides 1/HoraDoSistema/nbproject/private/
/Slides 4/Atividade 1/ParImpar/nbproject/private/
/Slides 4/Atividade 1/ParImpar/build/
/Slides 4/Atividade 2/ParImparNegativo/nbproject/private/
/Slides 4/Atividade 2/ParImparNegativo/build/
/Slides 4/Atividade 3/Financiamento/nbproject/private/
/Slides 4/Atividade 3/Financiamento/build/
/Slides 4/Atividade 4/MediaAluno/nbproject/private/
/Slides 4/Atividade 4/MediaAluno/build/
/Slides 4/Atividade 5/AumentoSalario/nbproject/private/
/Slides 4/Atividade 5/AumentoSalario/build/
/Slides 4/Atividade 6/ProgramaSolidario/nbproject/private/
/Slides 4/Atividade 6/ProgramaSolidario/build/
/Slides 4/Atividade 7/Calculadora/nbproject/private/
/Slides 4/Atividade 7/Calculadora/build/
/Slides 4/Atividade 8/IMC/nbproject/private/
/Slides 4/Atividade 8/IMC/build/
/Slides 4/Atividade 9/Multiplos/nbproject/private/
/Slides 4/Atividade 9/Multiplos/build/
/Slides 4/Atividade 10/TempoJogo/nbproject/private/
/Slides 4/Atividade 10/TempoJogo/build/
/Slides 4/Atividade 11/Intervalo/nbproject/private/
/Slides 4/Atividade 11/Intervalo/build/
/Slides 4/Atividade 12/Valores/nbproject/private/
/Slides 4/Atividade 12/Valores/build/
/Slides 4/Atividade 13/ImpostoDeRenda/nbproject/private/
/Slides 4/Atividade 13/ImpostoDeRenda/build/
/Slides 4/Desafio/Produtos/nbproject/private/
/Slides 4/Desafio/Produtos/build/
